.popup__submit-button_disabled {
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #000000;
  opacity: 0.2;
  background: none;
}

.popup__submit-button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}