.popup__submit-button {
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  padding-top: 14px;
  padding-bottom: 18px;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.3s ease;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__submit-button {
    margin-top: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}