.popup__form {
  max-width: 358px;
  margin: 34px auto 37px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .popup__form {
    max-width: 238px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}