.auth__submit-button {
  min-height: 50px;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 186px;
  transition: opacity .3s ease;
}

.auth__submit-button:hover {
  cursor: pointer;
  background: #FFFFFF;
  opacity: 0.85;
}